* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    /*vertical-align: baseline;*/
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol,
ul {
    list-style: none;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    /*text-align: left;*/
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

body {
    position: relative;
    font: 14px/1.4 'Roboto', Arial, sans-serif;
    z-index: 0;
    background: #EDEDED;
}

body.overflow {
    overflow: hidden;
}

.screen-reader-text {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

img {
    border: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

a {
    color: #00AEEF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

input[type="text"],
select,
button {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Roboto';
}

input:focus {
    outline: none;
}

b {
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clear {
    zoom: 1;
}


/* IE6 */

*:first-child+html .clear {
    zoom: 1;
}


/* IE7 */

.wrap {
    max-width: 1360px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

header {
    margin: 0 0 30px 0;
}

.h_top {
    background: white;
    margin: 0 0 30px 0;
}

.ht_top {
    border-bottom: 1px solid #EDEDED;
    height: 39px;
}

.htt_left {
    float: left;
    padding: 10px 0;
}

.htt_left li {
    float: left;
    margin: 0 22px 0 0;
}

.htt_left a {
    opacity: 0.4;
    font-size: 13px;
    color: #313131;
    text-align: left;
}

.htt_left li:last-child a {
    color: #ec6602;
    opacity: 1;
}

.htt_left a:hover {
    text-decoration: underline;
}

.htt_left a.green {
    color: #34b500;
    opacity: 1;
}

.htt_right {
    float: right;
}

.sl_pp {
    display: none;
}

.ht_bottom {
    height: 100px;
    clear: both;
    position: relative;
    z-index: 2;
}

.htb_left {
    float: left;
    padding: 15px 0;
}

.logo {
    width: 150px;
    height: 85px;
    background: url(../img/logo.jpg) no-repeat left center;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin: 0 75px 0 0;
}

.htb_call {
    width: 90px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.htb_call a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.htb_right {
    float: right;
    padding: 27px 0;
}

.p_ln_bttn {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #F2F4F8;
    border-radius: 6px;
    padding: 12px 25px;
    font-size: 15px;
    color: #1E1F22;
    box-sizing: border-box;
    margin: 0 30px 0 0;
    background-color: #F2F4F8;
    transition: all 0.2s ease-out;
}

.p_ln_bttn:hover {
    color: #fff;
    background-color: #1E1F22;
}

.htb_user {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
}

.htb_user li {
    float: left;
    margin: 0 0 0 40px;
    position: relative;
}

.htb_user li:first-child {
    margin: 0;
}

.htb_icon {
    width: 28px;
    height: 28px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.htb_icon:hover {
    background-image: url(../img/likes.svg);
}

.hint_info {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    bottom: calc(100% + 8px);
    background-color: #fff;
    left: 50%;
    transform: translate(calc(2px - 50%), 0);
    opacity: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.mobile .hint_info {
    display: none;
}

.hint_info::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    left: calc(50% - 8px);
    top: calc(100% - 2px);
}

.htb_user li>a:hover .hint_info {
    bottom: calc(100% + 5px);
    opacity: 1;
}

.oldsmal_price {
    display: none;
    position: absolute;
    left: 0;
    top: -8px;
    font-size: 15px;
    line-height: 0.1;
    color: rgba(12, 15, 13, 0.5);
}

.oldsmal_price::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    background-color: rgba(12, 15, 13, 0.5);
    ;
}

.not {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    background: #E53B50;
    color: white;
    text-align: center;
    font-size: 0.8em;
    line-height: 2em;
    right: -12px;
    top: -6px;
}

.search {
    background-image: url(../img/search.svg);
    transition: all 0.2s ease-out;
}

.search:hover {
    background-image: url(../img/search_green.svg);
}

.user {
    background-image: url(../img/user.svg);
    transition: all 0.2s ease-out;
}

.user:hover {
    background-image: url(../img/user_green.svg);
}

.likes {
    background-image: url(../img/likes.svg);
}

.likes:empty {
    background-image: url(../img/likes_gray.svg);
}

.htb_pp {
    background: #FFFFFF;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: absolute;
    top: 70px;
    right: 0px;
    box-sizing: border-box;
    padding: 50px 40px;
}

.form_slef p {
    padding: 0 0 15px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

.login_pp {
    width: 425px;
    display: none;
}

.fl_input {
    width: 100%;
    margin: 0 0 18px 0;
}

.fl_input input {
    width: 100%;
    height: 55px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
    transition: all 0.2s ease-out;
    font-size: 16px;
    color: #3C3C3C;
    padding: 0 30px;
    box-sizing: border-box;
}

.fl_input input:focus {
    border: 1px solid rgba(0, 0, 0, 1);
}

.forgot_line {
    text-align: right;
    margin: 2px 0 20px 0;
}

.forgot_line a {
    opacity: 0.5;
    font-size: 14px;
    color: #3C3C3C;
    text-align: right;
}

.forgot_line a:hover {
    text-decoration: underline;
}

.sign_up {
    float: left;
    padding: 17px 0;
    color: #3C3C3C;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
}

.sign_up:hover {
    text-decoration: underline;
}

a.go_back {
    float: left;
    padding: 17px 0;
    color: #3C3C3C;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
}

a.go_back:hover {
    text-decoration: underline;
}

.sign_in {
    border-radius: 4px;
    background: #2BB700;
    color: white;
    display: block;
    float: right;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 17px 30px;
    transition: all 0.2s ease-out;
}

.sign_in:hover {
    background: #36cc08;
}

.likes_pp {
    width: 535px;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 30px 40px 20px;
    display: none;
}

.likes_pp h3 {
    font-size: 20px;
    color: #3C3C3C;
    text-align: left;
    display: block;
}

.likes_line {
    display: block;
    width: 100%;
}

.ll_litem {
    box-sizing: content-box;
    padding: 30px 0;
    border-bottom: 1px solid #D8D8D8;
    float: none !important;
    margin: 0px !important;
    position: relative;
    height: 80px;
}

.ll_image {
    width: 70px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 30px;
}

.ll_desc {
    padding: 0 140px 0 90px;
}

.ll_desc span {
    opacity: 0.5;
    font-size: 14px;
    color: #000000;
    display: block;
    width: 100%;
}

.ll_desc b {
    font-size: 16px;
    color: #000000;
    line-height: 22px;
}

.ll_actions {
    position: absolute;
    right: 0px;
    top: 30px;
    text-align: right;
}

.ll_price {
    font-family: 'Gilroy';
    font-size: 22px;
    color: #0C0F0D;
    text-align: right;
    display: block;
    margin: 0 0 15px 0;
}

.ll_actions li {
    margin: 0 0 0 20px;
}

.ll_actions a {
    text-decoration: underline;
    font-size: 16px;
}

.ll_buy {
    color: #34B300;
}

.ll_remove {
    color: #3C3C3C;
}

.likes_line li:last-child {
    border-bottom: none;
}

.search_pp {
    display: none;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
}

.search_pp input {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 30px;
    color: #3C3C3C;
    text-align: center;
}

.close_s {
    position: absolute;
    right: 20px;
    top: 0px;
    height: 100%;
    width: 50px;
    background: url(../img/close.svg) no-repeat center;
    display: block;
    z-index: 2;
}

.main_nav {
    height: 100px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;
    transition: all 0.2s ease-out;
}

.mv_li:first-child .mv_a {
    border-radius: 5px 0 0 5px;
}

.mv_li:last-child .mv_a {
    border-radius: 0 5px 5px 0;
}

.mv_li:last-child {
    border: none;
}

.mv_li {
    width: calc(100% / 6);
    display: block;
    float: left;
    height: 100px;
    border-right: 1px solid #EDEDED;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}

.mv_a {
    height: 100px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    color: #3C3C3C;
    text-align: center;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0px 0px;
    transition: all 0.2s ease-out;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.mv_a b {
    text-align: left;
}

.mv_a i {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    width: 90px;
}

.mi {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
    transition: all 0.2s ease-out;
}

.mi1 span {
    background-image: url(../img/mi15e1f.svg?v=2);
}

.mi2 span {
    background-image: url(../img/mi25e1f.svg?v=2);
}

.mi3 span {
    background-image: url(../img/mi35e1f.svg?v=2);
}

.mi4 span {
    background-image: url(../img/mi45e1f.svg?v=2);
}

.mi5 span {
    background-image: url(../img/mi55e1f.svg?v=2);
}

.mi6 span {
    background-image: url(../img/mi65e1f.svg?v=2);
}

.mi7 span {
    background-image: url(../img/mi75e1f.svg?v=2);
    background-size: 36px;
}

@media (min-width: 1024px) {
    .mv_li:hover .mv_a {
        color: white;
        background: #34B500;
    }
    .mv_li:hover .mi1 span {
        background-image: url(../img/mi1_h5e1f.svg?v=2);
    }
    .mv_li:hover .mi2 span {
        background-image: url(../img/mi2_h5e1f.svg?v=2);
    }
    .mv_li:hover .mi3 span {
        background-image: url(../img/mi3_h5e1f.svg?v=2);
    }
    .mv_li:hover .mi4 span {
        background-image: url(../img/mi4_h5e1f.svg?v=2);
    }
    .mv_li:hover .mi5 span {
        background-image: url(../img/mi5_h5e1f.svg?v=2);
    }
    .mv_li:hover .mi6 span {
        background-image: url(../img/mi6_h5e1f.svg?v=2);
    }
    .mv_li:hover .mi7 span {
        background-image: url(../img/mi7_h7b30.svg?v=4);
        background-size: 36px;
    }
}

.sub_menu {
    position: absolute;
    max-width: 1320px;
    width: 100%;
    top: calc(100% + 12px);
    background: #FFFFFF;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-out;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.mv_li:hover .sub_menu {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.45s;
}

.sub_menu:before {
    width: 100%;
    height: 30px;
    display: block;
    content: '';
    position: absolute;
    left: 0px;
    top: -30px;
}

.sub_content {
    max-width: 1320px;
    margin: 0 auto;
    padding: 30px 40px;
    box-sizing: border-box;
    min-height: 245px;
}

.sub_content.with_ad .sub_cols {
    width: calc(100% - 430px);
    float: left;
}

.sub_content.with_ad .sub_ad {
    display: block;
}

.sub_content>h3 {
    display: none;
    padding: 8px 15px 8px 48px;
    font-size: 18px;
}

.sub_cols {
    width: 100%;
    padding: 0px 0px 20px;
    box-sizing: border-box;
    margin: 0 0px 0 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.sub_col {
    min-width: 160px;
    float: left;
    padding: 0 15px 0 0;
}

.sub_col h3 {
    font-family: 'Roboto';
    text-align: left;
    margin: 0 0 30px 0;
    display: block;
}

.sub_col h3 a {
    font-weight: 500;
    font-size: 18px;
    color: #3C3C3C;
    text-decoration: none;
}

.sub_col h3 a:hover {
    text-decoration: none;
    color: #111;
}

.sub_col a {
    opacity: 0.8;
    font-family: 'Roboto';
    font-size: 15px;
    color: black;
    text-align: left;
}

.sub_col a:hover {
    text-decoration: underline;
}

.sub_col li {
    margin: 0 0 12px 0;
}

.t_cols {
    overflow: hidden;
    max-width: 360px;
}

.t_cols li {
    /* width: 50%; */
    width: 100%;
    float: left;
}

.sub_ad {
    display: none;
    width: 430px;
    height: 245px;
    padding: 0 0 30px;
    float: right;
    position: relative;
}

.sub_ad a {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    display: block;
}


/* --------------- Home page start --------------- */

.home_slider {
    width: 100%;
    height: 530px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-cell {
    width: 100%;
    height: 100%;
}

.hs_content {
    width: 100%;
    height: 100%;
    position: relative;
}

.hs_desc_holder {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 3;
}

.hs_desc {
    width: 45%;
    position: absolute;
    height: 100%;
    left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: table-cell;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

.to_left {
    width: 100%;
}

.hs_brand {
    width: 100%;
    display: block;
}

.to_left h1 {
    font-size: 80px;
    color: white;
    text-align: left;
    margin: 15px 0 70px;
}

.more_bttn {
    border: 1px solid #3C3C3C;
    color: #3C3C3C;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    height: 50px;
    padding: 14px 30px;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    background: transparent;
}

.more_bttn:hover {
    background: #3C3C3C;
    color: white;
}

.white_mb {
    border: 1px solid white;
    color: white;
}

.white_mb:hover {
    background: white;
    color: #3C3C3C;
}

.hs_bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page_bg,
.image_bg,
.video_bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
}

.video_bg video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: black;
    background-size: cover;
}

.flickity-page-dots {
    bottom: 35px;
}

.flickity-page-dots .dot {
    width: 40px;
    height: 4px;
    border-radius: 5px;
}

.brands {
    margin: 50px 0 80px;
    border-radius: 5px;
    background: white;
    height: 75px;
    width: 100%;
}

.brands li {
    width: calc(100% / 7);
    height: 75px;
    border-right: 1px solid #EDEDED;
    float: left;
    box-sizing: border-box;
    display: block;
}

.brands li+li+li+li+li+li+li {
    border: none;
}

.brands li:last-child {
    display: none;
}

.brands a {
    display: block;
    width: 100%;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-out;
}

.brands a:hover {
    transform: scale(1.05);
}

.products_home h4 {
    font-size: 26px;
    color: #000000;
    display: block;
    margin: 0 0 45px 0;
}

.pr_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.pr_col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.product_item {
    height: 540px;
    background: white;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0);
    transition: all 0.2s ease-out;
    border-radius: 8px;
    display: block;
    position: relative;
}

.new {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #4b00ff;
    color: white;
    height: 25px;
    border-radius: 3px;
    font-size: 13px;
    padding: 3px 10px;
    box-sizing: border-box;
}

.new.orange {
    background: #f60;
}

.new.yellow {
    background: #ced503;
}

.pro_gallery {
    width: 100%;
    height: 275px;
    margin: 0 0 10px 0px;
    position: relative;
}

.p_color_item,
.pc_image {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
}

.p_color_item {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.p_color_item.active {
    visibility: visible;
    opacity: 1;
}

.pc_image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.white_shadow {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.30);
}

.to_likes {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    background: url(../img/to_likes.svg) no-repeat center;
    transition: all 0.2s ease-out;
    width: 25px;
    height: 25px;
    z-index: 1;
}

.to_likes.active {
    background: url(../img/to_likes_a.svg) no-repeat center;
}

.pro_desc {
    text-align: center;
    margin: 110px 0 0 0;
}

.pro_desc span {
    opacity: 0.5;
    font-size: 14px;
    color: #000000;
    text-align: center;
    margin: 0 0 17px 0;
    display: block;
    width: 100%;
}

.pro_desc b {
    padding: 0 10px;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 22px;
    display: block;
    width: 100%;
}

.pro_price {
    display: block;
    width: 100%;
    font-family: 'Gilroy';
    font-size: 24px;
    color: #0C0F0D;
}

.pro_price u {
    text-decoration: none;
    font-size: 0.65em;
    margin: 0 0 0 3px;
    position: relative;
    top: -2px;
}

.pc_ad {
    width: 100%;
    height: 540px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    display: block;
}

.products_carousel .pc_ad+a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pl_slider {
    height: 640px;
}

.pl_slider .pr_list {
    margin: 0px;
}

.pl_slider {
    margin-right: -12px;
    margin-left: -12px;
}

.pl_slider .flickity-page-dots .dot {
    width: 30px;
}

.pl_slider .dot.is-selected {
    background: #FF6600;
}

.lit_ads {
    padding: 0 0 80px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    position: relative;
}

.lit_ads .flickity-page-dots .dot {
    width: 20px;
    background: #fff;
    margin: 0 6px;
}

.lit_ads figure {
    width: calc(50% - 10px);
    height: auto;
    display: block;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

.lit_ads a {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

.lit_ads img {
    display: block;
    width: 100%;
}

.gray_row {
    background: #F4F4F4;
    padding: 80px 0 80px;
}

.gray_row h4 {
    font-size: 40px;
    color: #000000;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 65px 0;
}

.pr_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: 24px;
}

.pr_col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.pr_col_f {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 0 0 25%;
}

.pr_col_w {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}

.pr_col_w_t {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.pr_cont {
    margin: 0 12px;
    position: relative;
    height: 300px;
}

.pr_link {
    border-radius: 8px;
    height: 100%;
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.prl_bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.pr_1 .prl_bg {
    background-position: 30px bottom;
}

.prl_desc {
    width: 100%;
    box-sizing: border-box;
    padding: 35px 40px;
    position: relative;
    z-index: 2;
}

.prl_desc b {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
    display: block;
    margin: 0 0 5px 0;
}

.prl_desc p {
    opacity: 0.6;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 22px;
}

.pr_1 .prl_desc {
    text-align: right;
}

.pr_2 .prl_bg {
    width: 95%;
    background-position: center right;
}

.pr_2 b {
    color: #181818;
}

.pr_2 p {
    color: #181818;
    width: 30%;
}

.pr_3 .prl_bg {
    background-position: bottom right;
}

.pr_3 p {
    width: 30%;
}


/* --------------- Home page end --------------- */


/* --------------- Products start --------------- */

.page_cover {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: table-cell;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    margin: 0 0 50px 0;
    background-size: cover;
    background-position: 100% 50%;
}

.pc_norm {
    width: 100%;
    box-sizing: border-box;
    padding: 0 120px;
}

.pc_norm h1 {
    font-size: 40px;
    color: #000000;
}

.products_wrap {
    padding: 0 0 20px;
    position: relative;
}

.p_list_column {
    float: right;
    width: calc(100% - 336px)
}

.p_list_column:first-child {
    width: 100%;
}

.plc_self .pr_list {
    margin: 0 -12px 24px -12px;
}

.filter_col {
    float: left;
}

.filter_col>div {
    background: white;
    width: 312px;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.35s ease-out;
}

.fi_item {
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
}

.fi_item:last-child {
    border-bottom: none;
}

.fi_title {
    display: block;
    height: 80px;
    box-sizing: border-box;
    padding: 30px 40px;
    font-size: 17px;
    color: #3C3C3C;
    position: relative;
}

.fi_ar {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 0px;
    right: 0px;
    background: url(../img/fi_ar.svg) no-repeat center;
    transition: all 0.35s ease-out;
    transform: rotate(0deg);
}

.fi_title.active .fi_ar {
    transform: rotate(-180deg);
}

.fi_list {
    display: none;
}

.fil_w {
    padding: 5px 40px;
}

.price_range {
    width: 100%;
    position: relative;
}

.from,
.to {
    width: 100px;
}

.price_range input {
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    display: block;
    height: 45px;
    font-size: 15px;
    color: #3C3C3C;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
}

.from {
    float: left;
}

.to {
    float: right;
}

.price_sep {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin: 0 0 0 -22.5px;
    background: url(../img/price_sep.svg) no-repeat center;
}

.chk_bx input {
    display: none;
}

.chk_bx span {
    position: relative;
    display: inline-block;
    padding: 0 0 0 30px;
}

.chk_bx span:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/chk_bx_unchecked.svg) no-repeat center;
    position: absolute;
    top: 1px;
    left: 0px;
    transition: all 0.2s ease-out;
}

.chk_bx input[type=checkbox]:checked~span:after {
    background: url(../img/chk_bx_checked.svg) no-repeat center center;
}

.fil_w li {
    margin: 0 0 13px 0;
}

.fil_w li:last-child {
    margin: 0px;
}

.fil_w li a {
    color: #000;
}

.fil_w li a.active {
    display: inline-block;
    font-weight: 500;
    color: #f60;
    position: relative;
}

.fil_w li a.active::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #f60 url(../img/close_white_icon.svg) no-repeat 50%;
    background-size: calc(100% - 6px);
    position: absolute;
    left: -16px;
    top: 2px;
    border-radius: 50%;
}

.filter_type {
    margin: 0 0 30px 0;
}

.ft_left {
    width: calc(100% - 210px);
    float: left;
}

.ft_left li {
    float: left;
    margin: 0 15px 0 0;
}

.ft_left a {
    background: #FFFFFF;
    opacity: 0.6;
    font-size: 15px;
    color: #3C3C3C;
    border-radius: 4px;
    height: 46px;
    box-sizing: border-box;
    display: block;
    padding: 13px 25px;
    transition: all 0.2s ease-out;
}

.ft_left a.active,
.ft_left a:hover {
    opacity: 1;
}

.ft_left select {
    display: none;
    height: 46px;
    width: 100%;
    padding: 0 30px 0 30px;
    margin: 0;
    border: 1px solid #fff;
    font-family: 'Roboto';
    font-size: 15px;
    color: #a2a2a2;
    background: #fff url(../img/pt.svg) no-repeat calc(100% - 18px) 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 6px;
}

.ft_right {
    float: right;
    padding: 15px 0;
}

.ft_right li {
    float: left;
    margin: 0 0 0 25px;
}

.ft_right li:first-child {
    margin: 0;
}

.active_filters {
    margin: 0 0 30px 0;
}

.fi_ac {
    max-width: calc(100% - 150px);
    float: left;
}

.fi_ac li {
    float: left;
    margin: 0 5px 5px 0;
}

.fa_item {
    height: 38px;
    background: #34B500;
    border-radius: 4px;
    line-height: 38px;
    color: white;
    box-sizing: border-box;
    padding: 0 15px 0 20px;
    display: block;
}

.remove_f_all {
    float: right;
    background: url(../img/remove_f_all.svg) no-repeat right center;
    color: #E53B50;
    font-size: 15px;
    padding: 8px 22px 8px 0;
}

.remove_filter {
    width: 20px;
    height: 20px;
    background: url(../img/remove_filter.svg) no-repeat center;
    display: inline-block;
    vertical-align: middle;
}


/* --------------- Products end --------------- */


/* --------------- Footer start --------------- */

.footer_top {
    background: white;
    padding: 25px 0;
}

.ft_col {
    width: 25%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #EDEDED;
    text-align: center;
    font-size: 17px;
    color: #3C3C3C;
    line-height: 25px;
    padding: 10px 0 20px 0;
}

.ft_col:last-child {
    border-right: none;
    text-align: center;
}

.fi {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

.ft1 {
    background-image: url(../img/ft1.svg);
}

.ft2 {
    background-image: url(../img/ft25e1f.svg?v=2);
}

.ft3 {
    background-image: url(../img/ft3.svg);
}

.ft4 {
    background-image: url(../img/ft4.svg);
}

.ft_col b {
    display: block;
    margin: 15px 0 0 0;
}

.footer_mid {
    background: #3C3C3C;
    padding: 60px 0 0 0;
}

.f_colls {
    margin: 0 460px 0 0;
}

.f_col {
    /* width: calc(100% / 4); */
    float: left;
}

.f_col b {
    opacity: 0.9;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    margin: 0 0 25px 0;
    display: block;
}

.f_col li {
    margin: 0 0 13px 0;
}

.f_col a {
    opacity: 0.6;
    font-size: 15px;
    color: #FFFFFF;
    text-align: left;
}

.f_col a:hover {
    text-decoration: underline;
}

.f_call {
    height: 18px;
    display: block;
    width: 100%;
    background-size: contain;
    display: block;
    margin: 0 0 25px 0;
    position: relative;
}

.f_call a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.fa {
    opacity: 0.6;
    font-size: 15px;
    color: #FFFFFF;
}

.f_col_l {
    width: 330px;
    position: absolute;
    right: 20px;
    top: 0px;
}

.f_col_l i {
    opacity: 0.9;
    font-size: 15px;
    color: #FFFFFF;
    text-align: left;
    font-style: italic;
    margin: 0 0 20px 0;
}

.sub_form {
    margin: 20px 0 45px 0;
    height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.sub_form em {
    display: none;
    padding: 2px 20px 2px;
    margin: 4px 0 0;
    color: #fff;
    background: #f00;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
    text-align: center;
}

.sub_form input.error+em {
    display: block;
}

.sub_form button {
    background: rgba(255, 102, 0, 0.9);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-align: left;
    height: 37px;
    padding: 0 20px;
    border-radius: 3px;
    top: 4px;
    position: absolute;
    right: 4px;
    cursor: pointer;
}

.sub_form form {
    display: block;
    height: 100%;
}

.sub_form button:disabled {
    color: #3C3C3C;
    background: rgba(255, 255, 255, 0.3);
    cursor: default;
}

.sub_form input {
    height: 100%;
    padding: 0 130px 0 25px;
    display: block;
    width: 100%;
    color: white;
    border: 1px solid #767676;
    border-radius: 5px;
}

.sub_form input:focus {
    border-color: #ccc;
}

.site_by {
    width: 100%;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);
}

.site_by a {
    color: rgba(255, 255, 255, 0.4);
    background: url(../img/jis.svg) no-repeat left center;
    background-size: 14px;
    padding: 0 0 0 21px;
    display: inline-block;
    margin: 0 0 0 10px;
}

.footer_bottom {
    height: 45px;
    background: white;
    box-sizing: border-box;
    padding: 13px 0;
}

.footer_bottom p {
    opacity: 0.5;
    font-family: 'Roboto';
    font-size: 14px;
    color: #3C3C3C;
    float: left;
}

.footer_bottom ul {
    float: right;
    padding: 0 340px 0 0;
}

.footer_bottom li {
    float: left;
    margin: 0 0 0 30px;
}

.footer_bottom a {
    opacity: 0.5;
    font-size: 14px;
    color: #3C3C3C;
}

.footer_bottom a:hover {
    text-decoration: underline;
}

.soc_links span {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -2px;
    margin: 0 8px 0 0;
}

.f {
    background-image: url(../img/f.svg);
}

.i {
    background-image: url(../img/i.svg);
}

.y {
    background-image: url(../img/y.svg);
}

.w {
    background-image: url(../img/w.svg);
}


/* --------------- Footer end --------------- */


/* Additional begin */

@media (min-width: 1024px) {
    .accessories_block .accessories_grid figure {
        margin: 0 0 20px 20px;
    }
    .accessories_block .accessories_grid figure:nth-child(4n-3) {
        margin: 0 0 20px;
    }
}

.gallery_wrapper .lightSlider img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.gallery_wrapper .lightSlider.lsGrab>* {
    position: relative;
    height: 100%;
}

.main_wrapper .color_checker ul li a:hover::after,
.color_checker ul li a.active::after {
    width: 27px;
    height: 27px;
    margin: -5px 0 0 -5px;
}


/* Additional end */