{% load static %}
    <footer>
        <div class=footer_top>
            <div class="wrap clear">
                <div class=ft_col><span class="fi ft1"></span><b>Sürətli Çatdırılma</b></div>
                <div class=ft_col><span class="fi ft2"></span><b>Sərfəli qiymət</b></div>
                <div class=ft_col><span class="fi ft3"></span><b>Hissə-hissə Ödəniş imkanı</b></div>
                <div class=ft_col><span class="fi ft4"></span><b>Tam zəmanətli satış və servis</b></div>
            </div>
        </div>
        <div class=footer_mid>
            <div class="wrap clear">
                <div class="row">
                    <div class="col-12 col-md-4 col-sm-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194472.67477182904!2d49.71487317412318!3d40.39476947110751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6bd6211cf9%3A0x343f6b5e7ae56c6b!2sBak%C3%BC%2C%20Azerbaycan!5e0!3m2!1str!2s!4v1613364233769!5m2!1str!2s" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="col-12 col-md-2 col-sm-6">
                        <p class="text-light h6">Bizi izləyin</p>
                        <div class="f_col">
                            <ul class="soc_links">
                                <li class="">
                                    <a href="{{ contact.facebook }}"><span class="f"></span>Facebook</a>
                                </li>
                                <li>
                                    <a href="{{ contact.instagram }}"><span class="i"></span>Instagram</a>
                                </li>
                                <li>
                                    <a href="{{ contact.youtube }}"><span class="y"></span>YouTube</a>
                                </li>
                                <li>
                                    <a href="{{ contact.whatsapp }}"><span class="w"></span>WhatsApp</a>
                                </li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-sm-6"><b class="text-light h6">Əlaqə</b>
                        <div style="background: unset" class="f_call"><a href=tel:{{contact.number}}><span class="text-light h6">{{ contact.number }}</span></a></div>
                        <p class=fa>{{ contact.adress }}</p>
                    </div>
                    <div class="col-12 col-md-3 col-sm-6">
                    <i class="text-light">Aksiya və kampaniyalardan xəbərdar olmaq üçün abunə olun</i>
                    <div class="sub_form subscribe_form">
                        <form action="{% url 'post_create' %}" method="POST">
                        {% csrf_token %}
                            <input type="text" name="email" required placeholder=Email> <em>Artıq
                                abunə olmusunuz</em><button type="submit" >Abunə
                                Ol</button></form>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class=footer_bottom>
            <div class="wrap clear">
                <p>Konus Electronics © 2021. Bütün hüquqlar qorunur.</p>
            </div>
        </div>
    </footer>
    <div class=darkness></div><iframe src="https://creativecdn.com/tags?id=pr_QLW7EXDUkNaVjKOa5fhS_home" width=1
        height=1 scrolling=no frameBorder=0 style="display: none;"></iframe>
</body>
<!-- Mirrored from irshadelectronics.az/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Feb 2021 09:07:42 GMT -->

</html>
<script src="{% static 'site/templates/js/jquery.min.js' %}"></script>
<script src="{% static 'site/templates/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/templates/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'site/templates/js/main.js' %}"></script>


<script defer src="{% static 'site/templates/js/other.js' %}"></script>