{% load static %}
<body style=display:none;>
    <header id="header">
        <div class="h_top">
            <div class="ht_bottom">
                <div class="wrap clear">
                            <div class="search_pp" style="display: none;">
                                <input type="text" class="search_input" id="tags" name="q" placeholder="Axtarış edin..." >
                                <a href="javascript:void(0)" class="close_s search_open_close"></a>
                                <div class="search_results loading" style="display:none">

                                </div>
                            </div>
                    <div class="htb_left">
                        <a href="{% url 'index' %}" class="logo"></a>
                        <div style="background: unset" class="htb_call"><a href="tel:{{contact.number}}"><span
                                    class="text-info">Əlaqə:&nbsp;</span><span
                                    class="text-dark h6">{{contact.number}}</span></a></div>
                    </div>
                    <div class="htb_right">
                        <div class="htb_user">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" class="htb_icon search search_open_close">
                                        <em class="hint_info">Axtar</em>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=h_bottom>
            <div class="wrap clear">
                <div class=main_nav>
                    <ul>
                        <li class="mv_li">
                            <a class="mv_a sub_link" id="1"><b>
                                    <i>Tikinti Materialları</i>
                                </b></a>
                            <div class="sub_menu" id="sub-1">
                                <div class="sub_content">
                                    <h3>Tikinti Materialları</h3><a class="back"><span></span></a>
                                    <div class="sub_cols clear">
                                        <div class="sub_col">
                                            <ul class="t_cols" style="display:block">
                                                {% for link in Kateqoriya1 %}
                                                <li>
                                                    <a href="{%url 'product_index' link.main_category link.id %}">{{ link.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class=mv_li>
                        <a class="mv_a  sub_link" id="2"><b><i>Pəncərə və Qapı</i></b></a>
                            <div class="sub_menu" id="sub-2">
                                <div class=sub_content>
                                    <h3>Pəncərə və Qapı</h3><a href=# class=back><span></span></a>
                                    <div class="sub_cols clear">
                                        <div class="sub_col">
                                            <ul class="t_cols" id="cols-2">
                                                {% for link in Kateqoriya2 %}
                                                <li>
                                                    <a href="{%url 'product_index' link.main_category link.id %}">{{ link.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mv_li">
                            <a class="mv_a sub_link" id="3"><b><i>İsitmə və Soyutma</i></b></a>
                            <div class="sub_menu" id="sub-3">
                                <div class=sub_content>
                                    <h3>İsitmə və Soyutma</h3><a href=# class=back><span></span></a>
                                    <div class="sub_cols clear">
                                        <div class=sub_col>
                                            <ul class="t_cols">
                                                {% for link in Kateqoriya3 %}
                                                <li>
                                                    <a href="{%url 'product_index' link.main_category link.id %}">{{ link.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mv_li">
                        <a class="mv_a sub_link" id="4"><b><i>Santexnika</i></b></a>
                            <div class="sub_menu" id="sub-4">
                                <div class="sub_content">
                                    <h3>Santexnika</h3><a href=# class=back><span></span></a>
                                    <div class="sub_cols clear">
                                        <div class=sub_col>
                                            <ul class="t_cols">
                                                {% for link in Kateqoriya4 %}
                                                <li>
                                                    <a href="{%url 'product_index' link.main_category link.id %}">{{ link.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class=mv_li><a class="mv_a sub_link" id="5"><b><i>Döşəmə, Tavan və Dam</i></b></a>
                            <div class="sub_menu" id="sub-5">
                                <div class=sub_content>
                                    <h3>Döşəmə, Tavan və Dam</h3><a href=# class=back><span></span></a>
                                    <div class="sub_cols clear">
                                        <div class=sub_col>
                                            <ul class="t_cols">
                                                {% for link in Kateqoriya5 %}
                                                <li>
                                                    <a href="{%url 'product_index' link.main_category link.id %}">{{ link.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mv_li">
                            <a class="mv_a sub_link" id="6"><b><i>Təmir və Tikinti Alətləri</i></b></a>
                            <div class="sub_menu" id="sub-6">
                                <div class="sub_content">
                                    <h3>Təmir və Tikinti Alətləri</h3><a href=# class=back><span></span></a>
                                    <div class="sub_cols clear">
                                        <div class=sub_col>
                                            <ul class="t_cols">
                                                {% for link in Kateqoriya6 %}
                                                <li>
                                                    <a href="{%url 'product_index' link.main_category link.id %}">{{ link.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="toggler"> <span> <em></em> <em></em> <em></em> </span> </a>
    </header>
    <script>
    var availableTags = []
        $(".search_open_close").click(function () {
            //end
            var search_input_value = $('.search_input').val();
            $.ajax({
                method: 'POST',
                url: "{% url 'search_filter' %}",
                data: {
                    input: search_input_value,
                    "csrfmiddlewaretoken" : "{{csrf_token}}"
                },
                dataType: 'json',
                success: function (data) {
                    let product = data.product_results;
                    let i;
                    let item=``;
                    for (i = 0; i < product.length; i++){
                        item += `<a class="row"><img class="col-3 w-50" src='/media/${product[i].image}'><span class="col-9">${product[i].title}</span></a>`;
                    }
                    $( ".search_results" ).append(item);

                }
            });
        });


        {% comment %} search filter {% endcomment %}
        $(document).ready(function(){
            $(".search_input").on("keyup", function() {
                $(".search_results").css("display","block")
                var value = $(this).val().toLowerCase();
                $(".search_results a").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            });
    </script>
