{% load static %}
<!doctype html>
<html lang=az>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel=canonical href=index.html>
    <meta name=msapplication-TileColor content=#ffffff>
    <link rel=preload href="{% static 'site/templates/css/bootstrap.min.css' %}" as=style>
    <link rel=preload href="{% static 'site/templates/css/font/Roboto-Regular.html' %}" as=font type=font/woff2 crossorigin=anonymous>
    <link rel=preload href="{% static 'site/templates/css/font/Roboto-Bold.html' %}" as=font type=font/woff2 crossorigin=anonymous>
    <link rel=preload href="{% static 'site/templates/css/font/Gilroy-Regular.html' %}" as=font type=font/woff2 crossorigin=anonymous>
    <link rel=preload href="{% static 'site/templates/css/font/Gilroy-Regular.woff' %}" as=font type=font/woff crossorigin=anonymous>
    <link rel=preload href="{% static 'site/assets/pwpc/pwpc-786a11bc42e804ee4ed052a475a84520f025e175.css' %}" as=style>
    <link rel=preload href="{% static 'site/templates/css/flickity.css' %}" as=style>
    <link rel=preload href="{% static 'site/templates/css/basicbbb1.css' %}" as=style>
    <link rel=preload href="{% static 'site/templates/css/homebbb1.css' %}" as=style>
    <link rel=preload href="{% static 'site/templates/css/mainbbb1.css' %}" as=style>
    <link rel=preload href="{% static 'site/templates/css/responsive63d3.css' %}" as=style>
    <link rel=preload href="{% static 'site/templates/css/for_slider30df.css' %}" as=style>
    <script src="{% static 'site/assets/pwpc/pwpc-e8e490d467a897bc484f0be20df645e69348d14d.js' %}"></script>
    <script async="" data-src="{% static 'site/assets/pwpc/pwpc-521f91a7a5360f03a71a72088cc21676eceee9e9.js' %}" src="{% static 'site/assets/pwpc/pwpc-521f91a7a5360f03a71a72088cc21676eceee9e9.js' %}"></script>
</head>