{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load mptt_tags %}
<div class="main_wrapper">
        {% comment %} carousel start {% endcomment %}
        <div id="carouselExampleCaptions" class="container-fluid carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                        {% for slider in sliders %}
                        <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" {% endif %}></li>
                        {% endfor %}
                </ol>
                <div class="carousel-inner">

                        {% for slider in sliders %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ slider.image.url }}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  
                                {% if slider.title %}<p>{{ slider.title }}</p>{% endif %}       
                                </div>
                        </div>
                        {% endfor %}

                </div>
        </div>
        {% comment %} carousel end {% endcomment %}
</div>
{% endblock body %}