{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load mptt_tags %}
<div class="main_wrapper">
    <div class="wrap clear">
        <div class="page_cover"
            style="background-image:url({% static 'site/assets/files/1046/samsung_banner_1.jpg' %});">
            <div class="pc_norm">
                    <h1 style="color:#000000">{{ link_name}}</h1>
            </div>
        </div>
        </nav>
        <div class="products_wrap clear">
            <div class="filter_col" >
                <div>
                    <div class=" categories-type categories-item" data-type="brand">
                    <a href="javascript:void(0)" class="fi_title filter_Collapse active" id="01">Marka <span class="fi_ar filter_Collapse" id="01"></span></a>
                        <div class="fi_list" style="display: block;" id="list-01">
                        <div class="fil_w">
                            <ul id="brand_ul_filter">
                                {% for marka in markaes %}
                                    <li>
                                        <a href="{% url 'product_category' marka.main_category link_id marka.id %}" class="{% if marka.id == marka_id %}text-warning{% endif %}" id="{{marka.id}}">
                                            <span>{{ marka.name }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        </div>
                    </div>
                    {% recursetree category %}
                    <div class="categories-type categories-item" data-type="brand">
                    {% if node.has_children %}
                    <a class="fi_title filter_Collapse" id="{{node.id}}">{{ node }}<span class="fi_ar" id="{{node.id}}"></span></a>
                    {% else %}
                    {% comment %} <a class="ttp" href="{% url 'product_category' link_category link_id page_id node.id %}">{{node}}</a> {% endcomment %}
                    <a class="ttp" id="{{node.id}}">{{node}}</a>
                    {% endif %}
                        <div class="fi_list" id="list-{{ node.id }}"><div class="fil_w">
                            <ul id="brand_ul_filter">
                                {% if not node.is_leaf_node %}
                                    <li><a href=""><span>{{ children }}</span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        </div>
                    </div>
                    {% endrecursetree %}
                </div>
                <a href="javascript:void(0)" class="filters_toggle">
                    <span class="hidden_name">open/close</span>
                </a>
            </div>
            <div class="p_list_column">
                <div class="products_grid">
                    {% for product in products %}
                    <figure class="pr_self">
                        <a class="full_link">
                            <!-- <span class="hidden_name">
                                    </span> -->
                        </a>
                        <div class="new">Məhsul kodu: {{product.product_code}}</div>
                        <div class="pro_gallery">
                            <div class="p_color_item active">
                                <div class="pc_image" style="background-image:url({{ product.image.url }});"></div>
                            </div>
                        </div>
                        <div class="pro_desc">
                            <b>{{ product.title }}</b>
                            <div class="two_price">
                                <div class="pro_price">{{ product.price }}<u>AZN</u></div>
                            </div>
                        </div>
                    </figure>
                    {% endfor %}
                </div>
            {% comment %} pagination {% endcomment %}
            {% if products.has_other_pages %}
                <div class="pagination">
                    {% if products.has_previous %}
                        <a class="prev" href="?page={{ users.previous_page_number }}"><span class="hidden_name">prev</span></a>
                    {% endif %}
                    {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                            <strong>{{ i }}</strong>
                        {% else %}
                            <a href="?page={{ i }}" >{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}" class="next"><span class="hidden_name">next</span></a>
                    {% endif %}      
                </div>
            {% endif %} 
            {% comment %} pagination end {% endcomment %}
                

            </div>
        </div>
    </div>
</div>
<script>
  {% comment %} $( function() {
    availableTags = [
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
    }); {% endcomment %}

var id =[];
$( ".ttp" ).click(function(e) {
    $(".pagination").css("display","none");
    if (e.target.className == "ttp"){
        id.push(e.target.id);
        $(this).addClass("active");
    }
    else {
        e.target.className = "ttp";
        const index = id.indexOf(e.target.id);
        id.splice(index,1)
    }
    let data = {
                'id': id,
                {% if marka_id != None %}
                    'marka_id': "{{marka_id}}",
                {%endif%}
                "csrfmiddlewaretoken" : "{{csrf_token}}"
            }
    get_product_ajax(data)
})
function get_product_ajax(data){
    $.ajax({
        url: "{% url 'get_product_ajax' %}",
        method: "GET",
        data: data,
        dataType: 'json',
        success: function (data) {
            let i;
            let item = ``;
            let product = data.product;
            for (i = 0; i < product.length; i++){
                item += `
                    <figure class="pr_self">
                        <a class="full_link">
                            <!-- <span class="hidden_name">
                                    </span> -->
                        </a>
                        <div class="new">Məhsul kodu: ${product[i].product_code}</div>
                        <div class="pro_gallery">
                            <div class="p_color_item active">
                                <div class="pc_image" style="background-image:url(/media/${ product[i].image });"></div>
                            </div>
                        </div>
                        <div class="pro_desc">
                            <b>${ product[i].title }</b>
                            <div class="two_price">
                                <div class="pro_price">${ product[i].price }<u>AZN</u></div>
                            </div>
                        </div>
                    </figure>`;
            }
            $('.products_grid').html(item);
        },
        error: function (response) {
                // alert the error if any error occured
            console.log(response)
        }
      });
}
</script>
{% endblock body %}